.shop-items {
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.items {
    max-height: calc(100vh - 158px);
    flex-grow: 1;
    overflow-y: scroll;
    height: max-content;
}