.flex {
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.right {
    justify-self: right;
    text-align: right;
}
